.add{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.lable01{
    display: flex;
    padding-top: 40px;
    margin-top: auto;
    margin-bottom: auto;
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
}

.form-label{
    width: 25%;
    color: rgb(195, 195, 226);
    padding-top: 5px;
}

.dot{
    width: 5%;
    color: rgb(195, 195, 226);
    font-size:x-large
}

.submitButton{
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 600px;
}

.form-control{
    height: 40px;
}

