.containe{
    background-color:#035956b0;
    width: 96%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.contain{
   width: 96%;
    
    margin-left: auto;
    margin-right: auto; 
}

.topic{
    color: #bdcfeb;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    align-items: center;
    font-size: 26px;
    column-gap: 1.6rem;
    padding-top: 2%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.topic::before, .topic::after{
    content: "";
    height: 2px;
    background-color:#91add6;
    display: block;
}

.topic01{
    color: #f1cccc;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

.para1{
    font-style: oblique;
    font-weight:500;
    color: #ccbaf3;
    text-align: center;
    padding-bottom: 10px;
}

.img2{
    height: 400px;
    width: 80%;
    padding-left: 220px;
    border: 4px solid rgba(0, 0, 0, 0.13);
    
}

.topic1{
    color:#bdcfeb;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    align-items: center;
    font-size: 24px;
    column-gap: 1.6rem;
    font-family:'Times New Roman', Times, serif;
    padding-bottom: 20px;
}

.topic1::before, .topic1::after{
    content: "";
    height: 2px;
    background-color:#bdcfeb;
    display: block;
}

.tp0{
    display: flex;
    padding-top: 50px;
}

.tp1{width: 50%;}


.img3{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 300px;
    height: 200px; 
    border: 4px solid rgba(0, 0, 0, 0.13);
}

.para2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: oblique;
    font-weight:500;
    color: #bdcfeb;
}




