.nav-dark1{
    background-color: rgb(9, 141, 134);
}

.add{
    padding-top: 10px;
}

.mainTopic2{
    text-align: center;
    padding-top: 30px;
    color: rgb(124, 124, 207);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
